{% extends "sicad/../base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>Welcome</h1>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}