{% extends "sicad/../base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        {% if type == 'programme_form' %}
            <h2>Creation de Programme</h2>
        {% elif type == 'class_form' %}
            <h2>Creation de Classe</h2>
        {% elif type == 'sujet_form' %}
            <h2>Creation de Sujet</h2>
        {% endif %}
        <hr>
        <br>
        <div class="container w-75">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Formulaire</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}